if TARGET_STREAM810

config SYS_BOARD
	default "stream810"

config SYS_VENDOR
	default "streamunlimited"

config SYS_SOC
	default "mx7"

config SYS_CONFIG_NAME
	default "stream810"

config USE_PLUGIN
	bool "Use plugin for memory detection"
	default "y"

endif

