CONFIG_ARM=y
CONFIG_TARGET_STREAM810=y
CONFIG_DM=y
# CONFIG_USE_PLUGIN is not set
CONFIG_DEFAULT_DEVICE_TREE="s810"
CONFIG_SYS_EXTRA_OPTIONS="PHYS_SDRAM_SIZE=SZ_256M,IMX_CONFIG=board/streamunlimited/stream810/imximage_1x2Gb_ddr3.cfg,MX7D,SYS_BOOT_NAND,TEE_RAM_SIZE=0x0400000,OPTEE_ENTRY=0x8fd00000"
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MEMINFO=y
CONFIG_OF_CONTROL=y
CONFIG_DM_THERMAL=y
